{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>Artisan Sevana Kendram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

<link href="{% static 'css/bootstrap-grid.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-reboot.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap-utilities.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/bootstrap.rtl.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/bootstrap.rtl.min.css' %}" type="text/css"rel="stylesheet">
<link href="{% static 'css/normalize.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/smartslider.min.css' %}" type="text/css" rel="stylesheet">

<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/fonticons.css' %}" type="text/css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&display=swap" rel="stylesheet"> 
   
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Slab' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Gentium Book Plus' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'> 
<style>
    .img-fluid{
      width:80px;
      height:80px;
    }
</style>
</head>
<body class="materimonialservices">
  <section style="background-color:#da8616"> 
    <div class="container">
      <div class="row">
            
             <div class="col-lg-12 ">
               <div class="float-right">
                   <div class="icon-bar">
                    
                     <a href="https://wa.me/917012958534?text="><img src="{% static 'images/whatsapp.png' %}"></a> 
                   </div>
               </div>    
             </div>
      </div>
</div>
</section>
<header>
 
 
    <div class="social-head">
          <div class="container-fluid">
                  <div class="row">
                         <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                              <div id="social-left">
                                  <ul class="nav">
                                        <li class="nav-item"><a class="nav-link text-white" href="mailto:artisankendram@gmail.com"><i class="fa fa-envelope me-2"></i>artisankendram@gmail.com</a></li>
                                  </ul>
                                </div>     
                         </div>
                         <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
                            <div id="social-right">
                                <ul class="nav justifycontentend">
                                  {% if user.is_authenticated and user.is_superuser %}
                                  <li class="nav-item"><a class="nav-link text-white" href="{% url 'kvs_app:district_admin_register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
                                  {% endif %}
                                    {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'kvs_app:logout' %}"><i class="fa fas fa-x fa-sign-in fa-rotate-180"></i></a></li>
                                    {% endif %}
                                    <li class="nav-item"><a class="nav-link text-white"><i class="fa fas fa-x fa-facebook"></i></a></li>
                                    <li class="nav-item"><a class="nav-link text-white"><i class="fa fas fa-x fa-instagram"></i></a></li>
                                    <li class="nav-item"><a class="nav-link text-white"><i class="fa fas fa-x fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                  </div>
          </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-color navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'kvs_app:index' %}"><img src="{% static 'images/logo.jpg' %}" class="logo"><span class="me-2">Artisan Sevana Kendram</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item" id="nav-item">
              <a class="nav-link text-white" href="{% url 'kvs_app:index' %}">Home</a>
            </li>
            <li class="nav-item" id="nav-item">
              <a class="nav-link text-white" href="{% url 'kvs_app:executiveforum' %}">Executive Forum</a>
            </li>
              
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white " id="nav-item" href="#" role="button" data-toggle="dropdown">Union</a>
                    <ul class="dropdown-menu sub">
                      <li><a class="dropdown-item text-white" href="{% url 'kvs_app:taluk' %}">Taluk</a></li>
                    
                      <li><a class="dropdown-item text-white" href="{% url 'kvs_app:sakha' %}">Sakha</a></li>
      
                    </ul>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link text-white dropdown-toggle " id="nav-item" href="#" role="button" data-toggle="dropdown" href="{% url 'kvs_app:data_bank' %}" >Data Bank</a>
                <ul class="dropdown-menu sub">
                  <li><a class="dropdown-item text-white" href="{% url 'kvs_app:data_bank' %}">Data bank List</a></li>
                
                  {% if user.is_authenticated %}
                  <li><a class="dropdown-item text-white" href="{% url 'kvs_app:data_bank_hide' %}">Hided List</a></li>
                  {% endif %}
  
                </ul>
              </li>
              <li class="nav-item" id="nav-item">
                <a class="nav-link text-white" href="{% url 'kvs_app:data_bank_register' %}">Data Bank Register</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white " id="nav-item" href="{% url 'kvs_app:join_kvs' %}" role="button" data-toggle="dropdown">Join ASK</a>
                  <ul class="dropdown-menu sub">
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:join_kvs' %}">Approved</a></li>
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:join_kvs_pending' %}">Pendings</a></li>
                  </ul>
              </li>
              {% else %}
              <li class="nav-item" id="nav-item">
                <a class="nav-link text-white" href="{% url 'kvs_app:join_kvs' %}">Join ASK</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white " id="nav-item" href="#" role="button" data-toggle="dropdown">Services</a>
                  <ul class="dropdown-menu sub">
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:accident_insurance' %}">Accident Insurance</a></li>
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:health_insurance' %}">Health Insurance</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item text-white" href="{% url 'kvs_app:insurance_pending' %}">Pendings</a></li>
                    {% endif %}
    
                  </ul>
              </li>
             
              <li class="nav-item" id="nav-item">
                <a class="nav-link text-white" href="{% url 'kvs_app:contact' %}">Contact</a>
              </li>  
          </ul>
        </div>
      </div>
  </nav>
</header><!-- Abouts -->
<section id="cd-breadcrumb">
  <div class="container">
         <div class="row">
                 <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12" id="head-breadcrump">
                  
                         <h1 class="text-center text-white">ExecutiveForum</h1> 
                           <div class="text-breadcrump ">
                                    <ul class="nav justify-content-center">
                                        <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:index' %}">Home</a></li>
                                        <li class="nav-item"><a class="nav-link"><i class="fa  fa-chevron-right"></i></a></li> 
                                        <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:executiveforum' %}">ExecutiveForum</a></li>
                                   </ul>
                          
                        
                    </div>     
                 </div>
         </div>
  </div>
</section>
<!-- end breadcrumb -->
<!-- section -->

{% comment %} <section>
           <div class="container">
                  <div class="row p-2">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="author">
                                  <div class="author-box">
                                    <div class="justify-content-end">
                                      <div class="icon-box1 text-center">
                                        <img src="{% static 'images/state president k.k hari.jpeg' %}" class="authorimg" width="150px" height="150px">
                                      </div>
                                            <div class="icon-text">
                                              <h5 class="text-center">K.K Hari</h5>
                                              <h6 class="text-center"><i class="fa fa-id-card me-3"></i>State President</h6>
                                              <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Kanjirappally</h6>
                                              <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9447421329 </h6>
                                            </div>
                                    </div>
                                
                                            
                                                
                                    
                                  </div>
                            </div>
                            
                        </div>
                  </div>
            </div> 
           <div class="container">
            <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="author-box" id="author-box">
                    <div class="icon-box1 text-center">
                        <img src="{% static 'images/General secretary sunil kannamkara.jpeg' %}" class="authorimg"  width="150px" height="150px">
                    </div>
                        <div class="icon-text">
                            <h5 class="text-center">Sunil kannamkara  </h5>
                            <h6 class="text-center"><i class="fa fa-id-card me-3"></i>General Secretary</h6>
                            <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Mavelikkara</h6>
                            <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9447727444</h6>
                        
                        </div>
                          
                    
                </div>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-2">
                  <div class="author-box" id="author-box">
                    <div class="icon-box1 text-center">
                        <img src="{% static 'images/Treasurer Raju Kunnamangalam.jpeg' %}" class="authorimg"  width="150px" height="150px">
                    </div>
                        <div class="icon-text">
                            <h5 class="text-center">Raju Kunnamangalam  </h5>
                            <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Treasurer</h6>
                            <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Kozhikode</h6>
                            <h6 class="text-center"><i class="fa fa-phone me-3"></i> +91 9446332082</h6>
                        </div>
                          
                    
                </div>
                 </div>
            </div>
           </div>
            <div class="container">
                  <div class="row ">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <div class="author-box" id="author-box">
                          <div class="icon-box1 text-center">
                              <img src="{% static 'images/senior vice president Prabhakaran Valiyora.jpeg' %}" class="authorimg"  width="150px" height="150px">
                          </div>
                              <div class="icon-text">
                                  <h5 class="text-center">Prabhakaran Valiyora  </h5>
                                  <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Senior Vice President</h6>
                                  <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Malappuram</h6>
                                  <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9847845062</h6>
                              
                              </div>
                                
                          
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
                        <div class="author-box" id="author-box">
                            <div class="icon-box1 text-center">
                                <img src="{% static 'images/vice president T.N Chandrasekharan (Ranni).jpeg' %}" class="authorimg"  width="150px" height="150px">
                            </div>
                                    <div class="icon-text">
                                        <h5 class="text-center">T.N . Chandrasekharan</h5>
                                        <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Vice President</h6>
                                        <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Ranni</h6>
                                        <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 8547450139</h6>
                                        
                                    
                                    </div>    
                            
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="author-box" id="author-box">
                            <div class="icon-box1 text-center">
                                <img src="{% static 'images/joint secretary Dinesh Varkala.jpeg' %}" class="authorimg" width="150px" height="150px">
                            </div>
                                    <div class="icon-text">
                                        <h5 class="text-center">Dinesh Varkala  </h5>
                                        <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Joint Secretary</h6>
                                        <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Trivandrum</h6>
                                        <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9447066040</h6>
                                    </div>
                            
                        </div>
                    </div>
                  
                    
                  </div>
            </div>
            <div class="container">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
                      <div class="author-box" id="author-box">
                          <div class="icon-box1 text-center">
                              <img src="{% static 'images/joint secretary V.K Muraleedharan Punalar.jpeg' %}" class="authorimg" width="150px" height="150px">
                          </div>
                                  <div class="icon-text">
                                      <h5 class="text-center">V.K. Muraleedharan  </h5>
                                      <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Joint Secretary</h6>
                                      <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Punalur</h6>
                                      <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9495474840</h6>
                            
                                  </div>
                          
                      </div>
                  </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
                      <div class="author-box" id="author-box">
                          <div class="icon-box1 text-center">
                              <img src="{% static 'images/patron M.K Dasappan.jpeg' %}" class="authorimg"  width="150px" height="150px">
                          </div>
                                    <div class="icon-text">
                                      <h5 class="text-center">M.K Dasappan</h5>
                                      <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Patron</h6>
                                      <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Vaikkom</h6>
                                      <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9961166881</h6>
                                    
                                    </div>  
                          
                      </div>
                  </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="author-box" id="author-box">
                            <div class="icon-box1 text-center">
                                <img src="{% static 'images/leaga Advisor Adv.radhakrishnan.jpeg' %}" class="authorimg"  width="150px" height="150px">
                            </div>
                                    <div class="icon-text">
                                        <h5 class="text-center">Adv. K.Radhakrishnan</h5>
                                        <h6 class="text-center"><i class="fa fa-id-card me-3"></i>Legal Advisor</h6>
                                        <h6 class="text-center"><i class="fa fa-map-marker me-3"></i>Kothamangalam</h6>
                                        <h6 class="text-center"><i class="fa fa-phone me-3"></i>+91 9961419842</h6>
                                    </div>    
                            
                        </div>
                    </div>
                
                    <!--  -->
                  </div>
            </div>
       </div>
</section> {% endcomment %}
<!-- end -->
<div class="pt-5"></div>
<section>
  <div class="container">
    <div class="row">
               <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="text-center">
                <a href="#demo" class="btn btn-primary buttton justify-content-center" data-toggle="collapse">State Commitee</a></div>
                  <div id="demo" class="collapse">
                        
                    <div class="mt-3"></div>
                                  <div class="card">
                                      <div class="mt-3"></div>
                                              <div class="container">                                                                     
                                                  <div class="row">
                                                      <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                                                          <div class="floatright">
                                                          {% if user.is_authenticated %}
                                                          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus  mx-3"></i>Add Member</button>
                                                          {% endif %}
                                                          <!-- model add member -->      
                                                                    <!-- Modal -->
                <div class="modal fade modal_fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close btn btn-dark" data-dismiss="modal">&times;</button>
                    
                      </div>
                      <div class="modal-body">
                              <form method="post" enctype = 'multipart/form-data'>
                                {% csrf_token %}
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 mt-3">
                                          {% comment %} <input type="text" class="form-control" name="name" placeholder="Enter Name"> {% endcomment %}
                                          {{form.name}}
                                      </div>
                                      <div class="col-lg-12 col-md-12 mt-3">
                                          {% comment %} <input type="text" class="form-control" name="mobile" placeholder="Enter MobileNumber"> {% endcomment %}
                                          {{form.phone}}
                                      </div>
                                      <div class="col-lg-12 col-md-12 mt-3">
                                          {% comment %} <input type="text" class="form-control" name="place" placeholder="Enter place"> {% endcomment %}
                                          {{form.place}}
                                      </div>
                                      
                                      <div class="col-lg-12 col-md-12 mt-3">
                                        {% comment %} <input type="text" class="form-control" name="place" placeholder="Enter place"> {% endcomment %}
                                        {{form.photo}}
                                    </div>
                                      <div class=" col-12 col-sm-12 col-lg-12 col-md-12 mt-3">
                                          <div class="float-right">
                                              <input type="submit" class=" btn btn-warning"value="submit">
                                          </div>
                                          
                                      </div>
                                  </div>
                                  
                              </form>
                      </div>
                    
                    </div>
                    
                  </div>
                </div>
                                                          <!-- end  -->
                                                          </div>
                                                  
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="card-body">
                                                      <div class="container">
                                                          <div class="row">
                                                                  <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6">
                                                                        <div class="num_rows">
                            
                                                                          <div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
                                                                            <select class  ="form-control" name="state" id="maxRows">
                                                                              
                                                                              
                                                                              <option value="10">10</option>
                                                                              <option value="15">15</option>
                                                                              <option value="20">20</option>
                                                                              <option value="50">50</option>
                                                                              <option value="70">70</option>
                                                                              <option value="100">100</option>
                                                                              <option value="5000">Show ALL Rows</option>
                                                                              </select>
                                                                            
                                                                            </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6">
                                                                    <div class="">
                                                                          <div class="tb_search">
                                                                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
                                                                          </div>
                                                                    </div>
                                                                      
                                                                  </div>
                                                          </div>
                                                      </div>
                                                        
                                                      <div style="margin-top: 30px;"></div>
                                                    
                                                      <table class="table table-hover table-borderless table-responsive" id="table-id">
                                                          <thead>
                                                          <tr>
                                                              <th class="text-center">Name</th>
                                                              <th class="text-center">Mobile Number</th>
                                                              <th class="text-center">Photo</th>
                                                              <th class="text-center">Place</th>
                                                              {% if user.is_authenticated and user.is_superuser %}
                                                              <th class="text-center">Action</th>
                                                              {% endif %}
                                                          </tr>
                                                          </thead>
                                                          <tbody>
                                                          {% for i in state_commite %}
                                                          <tr>
                                                              <td class="text-center">{{i.name}}</td>
                                                              <td class="text-center">{{i.phone}}</td>
                                                              {% if i.photo %}
                                                              <td class="text-center"><img src="{{i.photo.url}}" class="img-fluid"></td>
                                                              {% else %}
                                                              <td class="text-center">None</td>
                                                              {% endif %}
                                                              <td class="text-center">{{i.place}}</td>
                                                              {% if user.is_authenticated and user.is_superuser %}
                                                              <td class="text-center">
                                                                <ul class="nav justify-content-center">
                                                                  <li class="nav-item ">
                                                                    <a class="nav-link text-success" href="{% url 'kvs_app:executiveforum_update' i.id %}"><i class="fas fa fa-edit me-3"></i>Edit</a>
                                                                  </li>
                                                                  <li class="nav-item">
                                                                    <a class="nav-link text-danger" href="{% url 'kvs_app:executiveforum_delete' i.id %}"><i class="fa fa-trash me-3"></i>Delete</a>
                                                                  </li>
                                                                  
                                                                </ul>
                                                                </div>
                                                              </td>
                                                              {% endif %}
                                                          </tr>
                                                          {% endfor %}
                                                          
                                                        
                                                          
                                                          </tbody>
                                                      </table>
                                              </div>
                                  </div>
              </div>
    </div>          
               
       
           
   </div>

  
  
</section>
<div class="pt-5"></div>
<!-- footer -->
<footer style="margin-top:90px">
  <div class="container-fluid">
         <div class="row p-2">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                         <div class="foot_about">
                                 <h4 class="foot_head">About Us</h4>
                                 <p class="foot_para"> The purpose and vision of  Artisan Sevana Kendram is to inform about the welfare , pension and insurance schemes devised by the Central and State government for the Artisan community and take necessary steps to make their benefits available to the deserving ones..</p>
                                   <ul class="nav">
                                         <li class="nav-item"><a class="nav-link"><i class="fa  fa-facebook"></i></a></li>
                                         <li class="nav-item"><a class="nav-link"><i class="fa fa-twitter"></i></a></li>
                                         <li class="nav-item"><a class="nav-link"><i class="fa fa-instagram"></i></a></li>
                                   </ul>
                         </div>
                 </div>
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="foot_quick">
                    <h4 class="foot_head">Quick Link</h4>
                    
                      <ul class="quick_1">
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:executiveforum' %}">Executive Forum</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:data_bank_register' %}">Marrige Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'kvs_app:contact' %}">Contact</a></li>
                      </ul>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="foot_address">
                      <h4 class="foot_head">Address</h4>
                      <address>KERALA VISWAKARMA SABHA (KVS)<br>Reg No: S.277/2003,Cherooty Rd<br>Kozhikode, Kerala </address>
                      <div class="social-link">
                               <ul class="quick_2">
                               
                                <li class="nav-item"><a class="nav-link" href="mailto:keralaviswakarmasabhas277@gmail.com"><i class="fa fa-envelope me-2"></i>keralaviswakarmasabhas277@gmail.com</a></li>
                                <li class="nav-item"><a class="nav-link" href="tel:+919995487001"><i class="fa fa-phone me-2"></i>+91 9995487001</a></li>
                               </ul>
                      </div>
                
                      
                      
                    </div>
                </div>
         </div>
  </div>
</footer>
<footer id="foot">
      <div class="container">
             <div class="row">
                   <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12">
                       <p id="Copyright">Copyright © 2022  <a href="https://a2zalphabetsolutionz.com/"> A2Z Alphabetsolutionz</a>. All rights reserved. </p>  
                   </div>
             </div>
      </div>
</footer>
<!-- end footer -->
<script>
  $(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').fadeOut(6000); // will first fade out the loading animation 
  $('#preloader').delay(6000).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(350).css({'overflow':'visible'});
})
</script>
<!-- js -->
<script>
getPagination('#table-id');
$('#maxRows').trigger('change');
function getPagination (table){

    $('#maxRows').on('change',function(){
      $('.pagination').html('');						// reset pagination div
      var trnum = 0 ;									// reset tr counter 
      var maxRows = parseInt($(this).val());			// get Max Rows from select option
      
      var totalRows = $(table+' tbody tr').length;		// numbers of rows 
     $(table+' tr:gt(0)').each(function(){			// each TR in  table and not the header
       trnum++;									// Start Counter 
       if (trnum > maxRows ){						// if tr number gt maxRows
         
         $(this).hide();							// fade it out 
       }if (trnum <= maxRows ){$(this).show();}// else fade in Important in case if it ..
     });											//  was fade out to fade it in 
     if (totalRows > maxRows){						// if tr total rows gt max rows option
       var pagenum = Math.ceil(totalRows/maxRows);	// ceil total(rows/maxrows) to get ..  
                             //	numbers of pages 
       for (var i = 1; i <= pagenum ;){			// for each page append pagination li 
       $('.pagination').append('<li data-page="'+i+'">\
                    <span>'+ i++ +'<span class="sr-only">(current)</span></span>\
                  </li>').show();
       }											// end for i 
   
       
    } 												// end if row count > max rows
    $('.pagination li:first-child').addClass('active'); // add active class to the first li 
      
      
      //SHOWING ROWS NUMBER OUT OF TOTAL DEFAULT
     showig_rows_count(maxRows, 1, totalRows);
      //SHOWING ROWS NUMBER OUT OF TOTAL DEFAULT

      $('.pagination li').on('click',function(e){		// on click each page
      e.preventDefault();
      var pageNum = $(this).attr('data-page');	// get it's number
      var trIndex = 0 ;							// reset tr counter
      $('.pagination li').removeClass('active');	// remove active class from all li 
      $(this).addClass('active');					// add active class to the clicked 
      
      
      //SHOWING ROWS NUMBER OUT OF TOTAL
     showig_rows_count(maxRows, pageNum, totalRows);
      //SHOWING ROWS NUMBER OUT OF TOTAL
      
      
      
       $(table+' tr:gt(0)').each(function(){		// each tr in table not the header
         trIndex++;								// tr index counter 
         // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
         if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)){
           $(this).hide();		
         }else {$(this).show();} 				//else fade in 
       }); 										// end of for each tr in table
        });										// end of on click pagination list
  });
                    // end of on select change 
   
              // END OF PAGINATION 
  
}	


    

// SI SETTING
$(function(){
// Just to append id number for each row  
default_index();
        
});

//ROWS SHOWING FUNCTION
function showig_rows_count(maxRows, pageNum, totalRows) {
 //Default rows showing
      var end_index = maxRows*pageNum;
      var start_index = ((maxRows*pageNum)- maxRows) + parseFloat(1);
      var string = 'Showing '+ start_index + ' to ' + end_index +' of ' + totalRows + ' entries';               
      $('.rows_count').html(string);
}

// CREATING INDEX
function default_index() {
$('table tr:eq(0)').prepend('<th> ID </th>')

        var id = 0;

        $('table tr:gt(0)').each(function(){	
          id++
          $(this).prepend('<td>'+id+'</td>');
        });
}

// All Table search script
function FilterkeyWord_all_table() {

// Count td if you want to search on all table instead of specific column

var count = $('.table').children('tbody').children('tr:first-child').children('td').length; 

      // Declare variables
var input, filter, table, tr, td, i;
input = document.getElementById("search_input_all");
var input_value =     document.getElementById("search_input_all").value;
      filter = input.value.toLowerCase();
if(input_value !=''){
      table = document.getElementById("table-id");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 1; i < tr.length; i++) {
        
        var flag = 0;
         
        for(j = 0; j < count; j++){
          td = tr[i].getElementsByTagName("td")[j];
          if (td) {
           
              var td_text = td.innerHTML;  
              if (td.innerHTML.toLowerCase().indexOf(filter) > -1) {
              //var td_text = td.innerHTML;  
              //td.innerHTML = 'shaban';
                flag = 1;
              } else {
                //DO NOTHING
              }
            }
          }
        if(flag==1){
                   tr[i].style.display = "";
        }else {
           tr[i].style.display = "none";
        }
      }
  }else {
    //RESET TABLE
    $('#maxRows').trigger('change');
  }
}
</script>
<!-- js -->
<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.js' %}"></script>
<script src="{% static 'js/bootstrap.esm.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/n2.min.js' %}"></script>
<script src="{% static 'js/smartslider-backgroundanimation.min.js' %}"></script>
<script src="{% static 'js/smartslider-frontend.min.js' %}"></script>
<script src="{% static 'js/w-arrow-image.min.js' %}"></script>
<script src="{% static 'js/ss-simple.min.js' %}"></script>


</body>
</html>


